<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div>
      <h5><strong>Añadir título</strong></h5>
      <form [formGroup]="agregarTituloForm">

        <ion-item class="input-container">
          <ion-label position="stacked">Título</ion-label>
          <ion-input class="rounded-input" formControlName="titulo"></ion-input>
        </ion-item>
        <div *ngIf="agregarTituloForm.get('titulo')!.invalid && agregarTituloForm.get('titulo')!.touched"
          class="error-message">
          El título es requerido.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Sinopsis</ion-label>
          <ion-textarea autoGrow class="rounded-input" formControlName="sinopsis"
            style="--padding-bottom: 18px;"></ion-textarea> </ion-item>
        <div *ngIf="agregarTituloForm.get('sinopsis')!.invalid && agregarTituloForm.get('sinopsis')!.touched"
          class="error-message">
          La sinopsis es requerida.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Fecha de Estreno</ion-label>
          <ion-input class="rounded-input" formControlName="fechaEstreno" type="date"></ion-input>
        </ion-item>
        <div *ngIf="agregarTituloForm.get('fechaEstreno')!.invalid && agregarTituloForm.get('fechaEstreno')!.touched"
          class="error-message">
          La fecha de estreno es requerida.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Duración</ion-label>
          <ion-input class="rounded-input" formControlName="duracion"></ion-input>
        </ion-item>
        <div *ngIf="agregarTituloForm.get('duracion')!.invalid && agregarTituloForm.get('duracion')!.touched"
          class="error-message">
          La duración es requerida.
        </div>
        <ion-item>
          <ion-label><small>Imagen</small></ion-label>
          <ion-button (click)="tomarImagen()"><ion-icon name="camera"></ion-icon></ion-button>
        </ion-item>
        <div *ngIf="titulo.URLImagen" style="display: flex; align-items: center;justify-content: center;">
          <img [src]="this.agregarTituloForm.get('URLImagen')?.value"
            style="width: auto; height: 200px; margin-top: 10px; object-fit: cover; object-position: center;">
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">URL del tráiler</ion-label>
          <ion-input class="rounded-input" formControlName="urlTrailer"></ion-input>
        </ion-item>
        <div *ngIf="agregarTituloForm.get('urlTrailer')!.invalid && agregarTituloForm.get('urlTrailer')!.touched"
          class="error-message">
          La URL del tráiler es requerida.
        </div>

      </form>

    </div>
    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-no-border">
        <ion-button (click)="agregarTitulo()"
          [disabled]="agregarTituloForm!.invalid || agregarTituloForm!.untouched  || !this.agregarTituloForm.get('URLImagen')?.value"
          expand="full" id="guardar" color="secondary" shape="round">
          <strong>Guardar</strong>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>