<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="tertiary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="assets/images/logo.svg" alt="logo" id="logo"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/buscar']">
        <ion-img id="searchIcon" src="../../../assets/icon/search.svg" alt="Buscar"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-vertical">
  <ion-button *ngIf="tienePrivilegios" class="titleButton ion-no-padding" fill="solid" size="small" color="transparent"
    [routerLink]="['editar']">
    <div id="titleContainer">
      <ion-icon name="create-outline" slot="start" size="large" class="add-icon"></ion-icon>
      <p>
        Editar título
      </p>
    </div>
  </ion-button>
  <ion-row>
    <ion-col size="12">
      <img style="max-width: 330px; height: auto;" [src]="pelicula.URLImagen" alt="Movie Cover" class="movie-cover">
    </ion-col>
  </ion-row>
  <ion-grid class="movie-container">
    <ion-row>
      <ion-col size="12">
        <h1 class="movie-title">{{ pelicula!.nombre }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="movie-summary">{{ pelicula!.sinopsis }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="movie-buttons" size="12">
        <ion-button shape="round" expand="block" color="primary" [href]="pelicula!.URLTrailer">
          Ver Tráiler
        </ion-button>
        <ion-button *ngIf="!peliculaGuardada" [disabled]="!usuario?.idUsuario" (click)="guardar()" shape="round"
          expand="block" color="secondary">
          Añadir a mi lista
        </ion-button>
        <ion-button *ngIf="peliculaGuardada" (click)="eliminar()" shape="round" expand="block" color="secondary">
          Eliminar de mi lista
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="ion-padding">
      <h6 style="text-align: center;">Puntuación</h6>
      <div style="width: 100%;" class="ion-padding">
        <svg width="100%" viewBox="0 0 870 134" fill="none" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <mask id="rating-mask">
              <rect attr.width="{{(puntuacionPorcentaje ? puntuacionPorcentaje : 0)  + '%'}}" height="100%"
                fill="white" />
            </mask>
          </defs>
          <path
            d="M0 74.7841H33.573L39.6451 52.185L45.7172 74.7841L63.1238 10L93.7542 124L113.05 52.185L119.122 74.7841L131.941 27.0749L144.76 74.7841H207.573L213.645 52.185L219.717 74.7841L237.124 10L267.754 124L287.05 52.185L293.122 74.7841L305.941 27.0749L318.76 74.7841H381.573L387.645 52.185L393.717 74.7841L411.124 10L441.754 124L461.05 52.185L467.122 74.7841L479.941 27.0749L492.76 74.7841H555.573L561.645 52.185L567.717 74.7841L585.124 10L615.754 124L635.05 52.185L641.122 74.7841L653.941 27.0749L666.76 74.7841H729.573L735.645 52.185L741.717 74.7841L759.124 10L789.754 124L809.05 52.185L815.122 74.7841L827.941 27.0749L840.76 74.7841H870"
            stroke="#979797" stroke-width="5" />
          <path
            d="M0 74.7841H33.573L39.6451 52.185L45.7172 74.7841L63.1238 10L93.7542 124L113.05 52.185L119.122 74.7841L131.941 27.0749L144.76 74.7841H207.573L213.645 52.185L219.717 74.7841L237.124 10L267.754 124L287.05 52.185L293.122 74.7841L305.941 27.0749L318.76 74.7841H381.573L387.645 52.185L393.717 74.7841L411.124 10L441.754 124L461.05 52.185L467.122 74.7841L479.941 27.0749L492.76 74.7841H555.573L561.645 52.185L567.717 74.7841L585.124 10L615.754 124L635.05 52.185L641.122 74.7841L653.941 27.0749L666.76 74.7841H729.573L735.645 52.185L741.717 74.7841L759.124 10L789.754 124L809.05 52.185L815.122 74.7841L827.941 27.0749L840.76 74.7841H870"
            stroke="#FFE500" stroke-width="5" mask="url(#rating-mask)" />
        </svg>
      </div>
      <h6 style="text-align: center;" *ngIf="puntuacion !== -1"><strong>{{ puntuacion }}</strong>/5</h6>
      <p style="text-align: center;" *ngIf="puntuacion === -1">¡Sé el primero en valorar este título!</p>
    </div>
    <ion-row>
      <ion-col size="12">
        <h6>Reseñas</h6>
        <ion-card *ngFor="let resenia of resenias">
          <ion-card-header class="ion-no-padding">
            <ion-item lines="none">
              <ion-avatar>
                <ion-icon name="person-circle-outline" style="font-size: 40px;"></ion-icon>
              </ion-avatar>
              <ion-label class="ion-padding">{{ resenia.nombreUsuario }}</ion-label>
              <ion-badge color="warning" slot="end">{{ resenia.calificacion }}/5</ion-badge>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            {{ resenia.comentario }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" class="ion-padding" expand="block" color="secondary"
          [routerLink]="'/titulo/'+pelicula!.idTitulo+'/escribir-resenia'" [disabled]="!isAuth">Escribir
          reseña</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>