<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/roles"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container" style="height: auto;">
    <div>
      <form>
        <ion-item class="input-container">
          <ion-label position="stacked">Nombre del Rol</ion-label>
          <ion-input placeholder="Nombre del Rol" required [(ngModel)]="rol.nombre" name="nombre" class="rounded-input">
            <ion-icon name="people-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
      </form>
    </div>
    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-no-border">
        <ion-button (click)="agregarRol()" expand="full" id="guardar" color="secondary" shape="round"
          [disabled]="!rol.nombre">
          <strong>Guardar</strong>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>

</ion-content>