<ion-app>
  <app-common-toolbar title="Inicio" [style]="mostrarToolbar ?'' : 'display: none' "></app-common-toolbar>
  <ion-menu contentId="main-content">
    <ion-content>
      <div id="listContainer">
        <ion-menu-toggle>
          <ion-list id="listaMenuLateral">
            <ion-item id="itemUsuario" [routerLink]="getPersonPath()" routerLinkActive="active">
              <ion-avatar slot="start">
                <img src="../assets/icon/user.svg" alt="Profile Picture">
              </ion-avatar>
              <ion-label id="labelUsuario">
                <p id="nombreUsuario">{{getPersonLabel()}}</p>
              </ion-label>
            </ion-item>
            <div style="margin-left: 5px;">
              <ion-item [routerLink]="['/home']" routerLinkActive="active">
                <ion-icon slot="start" name="home-outline" size="large"></ion-icon>
                <ion-label>Inicio</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/peliculas']" routerLinkActive="active">
                <ion-icon slot="start" name="film-outline" size="large"></ion-icon>
                <ion-label>Películas</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/series']" routerLinkActive="active">
                <ion-icon slot="start" name="tv-outline" size="large"></ion-icon>
                <ion-label>Series</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/noticias']" routerLinkActive="active">
                <ion-icon slot="start" name="newspaper-outline" size="large"></ion-icon>
                <ion-label>Noticias</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/perfil-preferencias']" routerLinkActive="active">
                <ion-icon slot="start" name="settings-outline" size="large"></ion-icon>
                <ion-label>Configuración</ion-label>
              </ion-item>
            </div>
          </ion-list>

        </ion-menu-toggle>
        <ion-button slot="end" id="cerrarSesion" color="danger">
          <ion-menu-toggle>
            <div style="display: flex; justify-content: center; align-items: center;">
              <ion-icon slot="start" name="log-out-outline" size="small"></ion-icon>
              <ion-label style="margin-left: 5px ;">Cerrar sesión</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>