<ion-content [fullscreen]="true" class="ion-padding-bottom">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <h5>
      <strong>
        Películas
      </strong>
    </h5>
    <ion-button [routerLink]="['/titulo/nuevo']" *ngIf="tienePrivilegios" class="titleButton ion-no-padding"
      fill="solid" size="small" color="transparent">
      <div id="titleContainer">
        <ion-icon name="add-circle-outline" slot="start" size="large" class="add-icon"></ion-icon>
        <p>
          Añadir título
        </p>
      </div>
    </ion-button>
  </div>
  <div>
    <div>
      <p class="ion-padding-horizontal">Destacado</p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide *ngFor="let pelicula of destacados" [routerLink]="['../titulo/'+ pelicula.idTitulo]">
          <img [src]="pelicula.URLImagen"
            style="width: 100px; height: 170px; object-fit: cover; object-position: center;" />


        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <p class="ion-padding-horizontal">Lo más criticado</p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide *ngFor="let pelicula of criticados" [routerLink]="['../titulo/'+ pelicula.idTitulo]">
          <img [src]="pelicula.URLImagen"
            style="width: 100px; height: 170px; object-fit: cover; object-position: center;" />


        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <swiper-container class="margin" effect="coverflow" loop="true" grab-cursor="true" centered-slides="true"
        slides-per-view="1" coverflow-effect-rotate="20" coverflow-effect-stretch="0" coverflow-effect-depth="90"
        coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false">
        <swiper-slide [routerLink]="['../titulo/'+ pelicula.idTitulo]" *ngFor="let pelicula of mejores">
          <img [src]="pelicula.URLImagen"
            style="width: 360px; height: 170px; object-fit: cover; object-position: center;" />
        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <p class="ion-padding-horizontal">Lo mejor evaluado</p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide *ngFor="let pelicula of destacados" [routerLink]="['../titulo/'+ pelicula.idTitulo]">
          <img [src]="pelicula.URLImagen"
            style="width: 100px; height: 170px; object-fit: cover; object-position: center;" />

        </swiper-slide>
      </swiper-container>
    </div>
  </div>

</ion-content>