<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil-preferencias"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div class="h5Container">
      <h5><strong>General</strong></h5>
    </div>
    <div class="ion-text-start">
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            Placeholder
          </p>
          <span style="color: gray; font-size: 0.75rem;">Lorem ipsum dolor sit amet</span>
        </div>
        <ion-toggle slot="end"></ion-toggle>
      </ion-button>
    </div>
    <div class="ion-text-start">
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            Placeholder
            <br>
          </p>
          <span style="color: gray; font-size: 0.75rem;">Lorem ipsum dolor sit amet</span>
        </div>
        <ion-toggle slot="end"></ion-toggle>
      </ion-button>
    </div>
    <div class="ion-text-start">
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            Placeholder
          </p>
          <span style="color: gray; font-size: 0.75rem;">Lorem ipsum dolor sit amet</span>
        </div>
        <ion-toggle slot="end"></ion-toggle>
      </ion-button>
    </div>
  </div>
</ion-content>