<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div class="h5Container">
      <h5><strong>Configuración</strong></h5>
    </div>
    <div class="ion-text-start">
      <ion-button expand="block" fill="clear" class="config-button" routerLink="./general">
        <div>
          <p>
            General
          </p>
        </div>
      </ion-button>
      <ion-button expand="block" fill="clear" class="config-button" routerLink="./notificaciones">
        <div>
          <p>
            Notificaciones
          </p>
        </div>
      </ion-button>

      <ion-button expand="block" fill="clear" class="config-button" routerLink="./seguridad">
        <div>
          <p>
            Seguridad
          </p>
        </div>
      </ion-button>
      <ion-list>
        <ion-item>
          <ion-select label="Idioma" placeholder="Español">
            <ion-select-option value="es">Español</ion-select-option>
            <ion-select-option value="en">English</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div>
        <p style="padding: 10px 0;">
          Tema
        </p>
        <ion-segment value="default">
          <ion-segment-button value="default">
            <ion-label>Claro</ion-label>
          </ion-segment-button>
          <ion-segment-button value="segment">
            <ion-label>Oscuro </ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>

</ion-content>