<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div class="h5Container">
      <h5><strong>Configuración</strong></h5>
    </div>
    <div class="ion-text-start">
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            General
          </p>
        </div>
      </ion-button>
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            Notificaciones
          </p>
        </div>
      </ion-button>
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            Tema
          </p>
        </div>
      </ion-button>
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            Seguridad
          </p>
        </div>
      </ion-button>
      <ion-button expand="block" fill="clear" class="config-button">
        <div>
          <p>
            Idioma
          </p>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>