#container {
  margin-inline: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.h5Container {
  margin-bottom: 10px;
}

ion-button {
  --background: rgba(255, 255, 255, 0.1);
  --color: #fff;
  margin: 10px 0;
  font-weight: 400;
  width: 100%;
  --border-radius: 10px
}

ion-button div {
  width: 100%;
  text-align: start;
  padding: 10px 0;
}

ion-segment-button {
  --ion-color-primary: #ffffff;
  --background: #ffffff05;
  --background-checked: #ffffff05;
  --ion-text-color-step-150: white;
  --ion-text-color-step-850: white
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  margin-left: 0;
}