<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div class="h5Container">
      <h5><strong>Usuarios</strong></h5>
    </div>
    <div>
      <ion-searchbar searchIcon="../../../assets/icon/search.svg" color="primary"
        placeholder="Buscar..."></ion-searchbar>

    </div>
    <div id="usersContainer" class="ion-text-start">
      <ion-button expand="false" fill="clear" class="config-button">
        <div id="userContainer">
          <p id="nombreUsuario">{{ usuario.nombre + " " + usuario.apellido||"Nombre de usuario"}}</p>
          <p class="email">{{ usuario.correo + "" }}</p>
        </div>
        <div class="button-wrapper">
          <ion-button color="primary" fill="solid" class="small-button" [routerLink]="[ usuario.idUsuario]">
            <ion-icon name="create-outline" size="large" color="light"></ion-icon>
          </ion-button>
          <ion-button color="danger" fill="solid" class="small-button">
            <ion-icon name="trash-outline" size="large" color="light"></ion-icon>
          </ion-button>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>