<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="logo-container">
      <ion-img class="logo" src="assets/images/logo.png"></ion-img>
    </div>
    <form [formGroup]="form" (ngSubmit)="onRegistroClick()">
      <div class="login-input-container">
        <p>Ingresa tus datos:</p>
        <ion-item class="input-container">
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input placeholder="Pedro" class="rounded-input" type="text" formControlName="nombre">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="!form.controls['nombre'].valid && form.controls['nombre'].touched">
          <p *ngIf="form.controls['nombre'].value === ''">
            Se requiere un nombre.
          </p>
        </div>
        <ion-item class="input-container">
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input placeholder="Gonzalez" class="rounded-input" type="text" formControlName="apellido">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="!form.controls['apellido'].valid && form.controls['apellido'].touched">
          <p *ngIf="form.controls['apellido'].value === ''">
            Se requiere un apellido.
          </p>
        </div>
        <ion-item class="input-container">
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input placeholder="email@email.com" class="rounded-input" type="email" formControlName="email">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
          <p *ngIf="form.controls['email'].value === ''">
            Se requiere un correo electrónico.
          </p>
          <p *ngIf="!form.controls['email'].valid && form.controls['email'].value !==''">
            Por favor ingrese un correo válido.
          </p>
        </div>
        <ion-item class="input-container">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input placeholder="***********" class="rounded-input" type="password" formControlName="password">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
          <p *ngIf="form.controls['password'].value === ''">
            Ingrese una contraseña
          </p>
          <p *ngIf="!form.controls['password'].value.match('^(?=.*[A-Z])')">
            La contraseña debe tener al menos un caracter en mayúscula.
          </p>
          <p *ngIf="!form.controls['password'].value.match('(?=.*[a-z])')">
            La contraseña debe tener al menos un caracter en minúscula.
          </p>
          <p *ngIf="!form.controls['password'].value.match('(.*[0-9].*)')">
            La contraseña debe tener al menos un caracter numérico.
          </p>
          <p *ngIf="!form.controls['password'].value.match('(?=.*[!@#$%^&*])')">
            La contraseña debe tener al menos un caracter especial.
          </p>
          <p *ngIf="!form.controls['password'].value.match('.{8,}')">
            La contraseña debe tener al menos 8 caracteres.
          </p>
        </div>
        <ion-item class="input-container">
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input placeholder="***********" class="rounded-input" type="password" formControlName="password2">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="!form.controls['password2'].valid && form.controls['password2'].touched">
          <p *ngIf="form.controls['password2'].value !== form.controls['password'].value">
            Las contraseñas deben ser iguales
          </p>
        </div>
      </div>
      <br />
      <div class="title-container" style="margin: 0;">
        <p>
          Al continuar el registro, estarás aceptando los
          <a>términos y condiciones.</a>
        </p>
      </div>
      <br />
      <ion-footer class="ion-no-border">
        <ion-toolbar class="ion-no-border">
          <ion-button expand="full" color="secondary" shape="round" [disabled]="!form.valid">
            <strong class="ion-margin">Registrarse</strong>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </form>
  </div>
</ion-content>