<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="logo-container">
      <ion-img class="logo" src="assets/images/logo.png"></ion-img>
    </div>
    <form #registroForm="ngForm" class="login-input-container">
      <p>Ingresa tus datos:</p>

      <!-- Nombre -->
      <ion-item class="input-container">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input required minlength="2" maxlength="50" pattern="[A-Za-zÀ-ÿ' -]+" placeholder="Nombre"
          class="rounded-input" name="nombre" [(ngModel)]="inputNombre" #nombreInput="ngModel">
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-input>
        <small *ngIf="nombreInput.invalid && nombreInput.touched">
          <p>Nombre inválido</p>
        </small>
      </ion-item>
      <!-- Apellido -->
      <ion-item class="input-container">
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input required minlength="2" maxlength="50" pattern="[A-Za-zÀ-ÿ' -]+" placeholder="Apellido"
          class="rounded-input" name="apellido" [(ngModel)]="inputApellido" #apellidoInput="ngModel">
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-input>
        <small *ngIf="apellidoInput.invalid && apellidoInput.touched">
          <p>Apellido inválido</p>
        </small>
      </ion-item>

      <!-- Correo electrónico -->
      <ion-item class="input-container">
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input type="email" placeholder="correo@ejemplo.com" name="email" class="rounded-input"
          [(ngModel)]="inputEmail" #emailInput="ngModel" email required>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-input>
        <small *ngIf="emailInput.invalid && emailInput.touched">Email no válido.</small>
      </ion-item>

      <!-- Contraseña -->
      <div class="ion-margin-top">
        <small>La contraseña debe cumplir con los siguientes requisitos:
          <ul>
            <li [ngStyle]="{'color': hasMinLength() ? '#19C854' : (inputPass ? '#FF3300' : 'gray')}">
              Entre 8 y 20 caracteres
            </li>
            <li [ngStyle]="{'color': hasLowerCase() ? '#19C854' : (inputPass ? '#FF3300' : 'gray')}">
              Al menos una letra minúscula
            </li>
            <li [ngStyle]="{'color': hasUpperCase() ? '#19C854' : (inputPass ? '#FF3300' : 'gray')}">
              Al menos una letra mayúscula
            </li>
            <li [ngStyle]="{'color': hasSpecialChar() ? '#19C854' : (inputPass ? '#FF3300' : 'gray')}">
              Al menos un carácter especial
            </li>
            <li [ngStyle]="{'color': hasNumber() ? '#19C854' : (inputPass ? '#FF3300' : 'gray')}">
              Al menos un dígito numérico
            </li>
          </ul>
        </small>
      </div>

      <ion-item class="input-container">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" placeholder="Introduce tu contraseña" name="password" [(ngModel)]="inputPass"
          required class="rounded-input">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-label position="stacked">Confirmar contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="inputPass2" #input="ngModel" name="password2" required
          placeholder="Confirma tu contraseña" class="rounded-input">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
      <small *ngIf="!passwordsMatch() && input.touched">Las contraseñas no coinciden.</small>
    <!-- Términos y condiciones -->
    <br />
    <div class="title-container" style="margin: 0;">
      <p>
        Al continuar el registro, estarás aceptando los
        <a>términos y condiciones.</a>
      </p>
    </div>

      <!-- Botón de registro -->
      <br />
      <ion-footer class="ion-no-border">
        <ion-toolbar class="ion-no-border">
          <ion-button [disabled]="!validData()" expand="full" color="secondary" shape="round" id="bRegistro"
            (click)="onRegistroClick()">
            <strong class="ion-margin">Registrarse</strong>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </form>
  </div>
</ion-content>