<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h6>
      <strong>
        Noticias
      </strong>
    </h6>
  </div>
  <div class="noticiasContainer">
    <div class="noticia">
      <div style="width: 100%; background-color: rgba(0, 0, 0, 0.062);">
        <div class="titleContainer">
          <p class="title">Lorem ipsum</p>
          <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis erat, sed
            mollis mi bibendum eu. Ut suscipit venenatis diam ac faucibus. Etiam convallis risus nec placerat tincidunt.
          </p>
        </div>
      </div>
    </div>
    <div class="noticia">
      <div style="width: 100%; background-color: rgba(0, 0, 0, 0.062);">
        <div class="titleContainer">
          <p class="title">Lorem ipsum</p>
          <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis erat, sed
            mollis mi bibendum eu. Ut suscipit venenatis diam ac faucibus. Etiam convallis risus nec placerat tincidunt.
          </p>
        </div>
      </div>
    </div>
    <div class="noticia">
      <div style="width: 100%; background-color: rgba(0, 0, 0, 0.062);">
        <div class="titleContainer">
          <p class="title">Lorem ipsum</p>
          <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis erat, sed
            mollis mi bibendum eu. Ut suscipit venenatis diam ac faucibus. Etiam convallis risus nec placerat tincidunt.
          </p>
        </div>
      </div>
    </div>
    <div class="noticia">
      <div style="width: 100%; background-color: rgba(0, 0, 0, 0.062);">
        <div class="titleContainer">
          <p class="title">Lorem ipsum</p>
          <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis erat, sed
            mollis mi bibendum eu. Ut suscipit venenatis diam ac faucibus. Etiam convallis risus nec placerat tincidunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>