<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h6>
      <strong>
        Noticias
      </strong>
    </h6>
  </div>
  <div class="noticiasContainer">
    <div class="noticia" *ngFor="let noticia of noticias"
      style="background: transparent url({{noticia.urlToImage}}) no-repeat center top; background-size: cover;">
      <div style="width: 100%; background-color: rgba(0, 0, 0, 0.5);">
        <div class="titleContainer">
          <p class="title">{{noticia.title}}</p>
          <p class="subtitle">{{noticia.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>