<ion-content [fullscreen]="true" class="ion-padding-bottom">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div>
      <p class="ion-padding-horizontal">Destacado</p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide *ngFor="let pelicula of arregloDestacados">
          <div
            style="width: 100px; height: 170px; background: transparent url('{{ pelicula.URLImagen }}') no-repeat center center; background-size: cover;"
            (click)="clickOnEntry(pelicula)">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <p class="ion-padding-horizontal">Lo más criticado
      </p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide *ngFor="let pelicula of arregloCriticados">
          <div
            style="width: 100px; height: 170px; background: transparent url('{{ pelicula.URLImagen }}') no-repeat center center; background-size: cover;"
            (click)="clickOnEntry(pelicula)">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="noticiasContainer">
      <a class="noticia" *ngFor="let noticia of noticias" (click)="navegarANoticia(noticia.url)"
        routerLinkActive="router-link-active"
        style="background: transparent url({{noticia.urlToImage}}) no-repeat center top; background-size: cover;">
        <img [src]="noticia.urlToImage" style="display: none;" />
        <div style="width: 100%; background-color: rgba(0, 0, 0, 0.5);">
          <div class="titleContainer">
            <p class="title">{{noticia.title}}</p>
            <p class="subtitle">{{noticia.description}}</p>
          </div>
        </div>
      </a>
    </div>
    <div>
      <p class="ion-padding-horizontal">Mejor evaluado</p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide *ngFor="let pelicula of arregloMejores">
          <div
            style="width: 100px; height: 170px; background: transparent url('{{ pelicula.URLImagen }}') no-repeat center center; background-size: cover;"
            (click)="clickOnEntry(pelicula)">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

</ion-content>