<ion-content [fullscreen]="true" class="ion-padding-bottom">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <div>
      <p class="ion-padding-horizontal">Destacado</p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide routerLink="./578" *ngFor="let i of [null,null,null,null,null,null,null,null,null,null]">
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <p class="ion-padding-horizontal">Lo más criticado
      </p>
      <swiper-container class="margin" pagination="false" space-between="20" slides-per-view="3.7"
        [slidesOffsetBefore]="20" [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide routerLink="./578" *ngFor="let i of [null,null,null,null,null,null,null,null,null,null]">
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="noticiasContainer">
      <div class="noticia">
        <div style="width: 100%; background-color: rgba(0, 0, 0, 0.062);">
          <div class="titleContainer">
            <p class="title">Lorem ipsum</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis erat, sed
              mollis mi bibendum eu. Ut suscipit venenatis diam ac faucibus. Etiam convallis risus nec placerat
              tincidunt.
            </p>
          </div>
        </div>
      </div>
      <div class="noticia">
        <div style="width: 100%; background-color: rgba(0, 0, 0, 0.062);">
          <div class="titleContainer">
            <p class="title">Lorem ipsum</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis erat, sed
              mollis mi bibendum eu. Ut suscipit venenatis diam ac faucibus. Etiam convallis risus nec placerat
              tincidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="ion-padding-horizontal">Destacado</p>
      <swiper-container pagination="false" space-between="20" slides-per-view="3.7" [slidesOffsetBefore]="20"
        [slidesOffsetAfter]="20" free-mode="true">
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide> <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
        <swiper-slide>
          <div style="width: 100px;height: 170px; background-color: gray;"></div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

</ion-content>