<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div class="h5Container">
      <h5><strong>Guardados</strong></h5>
    </div>
    <div *ngIf="guardados.length === 0">
      <p class="ion-text-center">No tienes guardado ningún título</p>
    </div>
    <div *ngIf="guardados.length > 0" id="usersContainer" class="ion-text-start">
      <ion-button routerLinkActive="router-link-active" *ngFor="let guardado of guardados" expand="false" fill="clear"
        class="config-button">
        <div [routerLink]="['/titulo/'+ guardado.idTitulo]" id="movieContainer">
          <img [src]="guardado.URLImagen"
            style="width: 80px; height: 100px; margin-right: 10px; object-fit: cover; object-position: center;" />
          <p id="nombreUsuario">{{ guardado.nombreTitulo}}</p>
        </div>
        <div class="button-wrapper">
          <ion-button (click)="eliminar(guardado.idMarcador!)" color="danger" fill="solid" class="small-button">
            <ion-icon name="trash-outline" size="large" color="light"></ion-icon>
          </ion-button>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>