<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="h5Container">
      <h5><strong>Recuperar contraseña</strong></h5>
    </div>
    <ion-item class="input-container">
      <ion-label position="stacked">Ingresa tu correo electrónico:</ion-label>
      <ion-input type="email" placeholder="correo@ejemplo.com" class="rounded-input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <div style="display: flex; justify-content: end;">
      <ion-button style="font-size: .9rem;" expand="default" id="guardarContrasena" color="secondary" shape="round">
        <strong>Enviar correo</strong>
      </ion-button>
    </div>
  </div>
</ion-content>