<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div>
      <h5><strong>Editar título</strong></h5>
      <form [formGroup]="editarTituloForm">

        <ion-item class="input-container">
          <ion-label position="stacked">Título</ion-label>
          <ion-input class="rounded-input" formControlName="nombre"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('nombre')!.invalid && editarTituloForm.get('nombre')!.touched"
          class="error-message">
          El título es requerido.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Sinopsis</ion-label>
          <ion-textarea class="rounded-input" formControlName="sinopsis" autoGrow
            style="--padding-bottom: 18px;"></ion-textarea>
        </ion-item>
        <div *ngIf="editarTituloForm.get('sinopsis')!.invalid && editarTituloForm.get('sinopsis')!.touched"
          class="error-message">
          La sinopsis es requerida.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Fecha de Estreno</ion-label>
          <ion-input class="rounded-input" formControlName="fechaEstreno" type="date"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('fechaEstreno')!.invalid && editarTituloForm.get('fechaEstreno')!.touched"
          class="error-message">
          La fecha de estreno es requerida.
        </div>
        <ion-item class="input-container">
          <ion-label position="stacked">Tipo de título</ion-label>
          <ion-select formControlName="tipoTitulo" class="rounded-input">
            <ion-select-option [value]="1">Película</ion-select-option>
            <ion-select-option [value]="2">Serie</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="input-container">
          <ion-label position="stacked">Duración</ion-label>
          <ion-input class="rounded-input" formControlName="duracion"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('duracion')!.invalid && editarTituloForm.get('duracion')!.touched"
          class="error-message">
          La duración es requerida.
        </div>
        <ion-item>
          <ion-label><small>Imagen</small></ion-label>
          <ion-button (click)="tomarImagen()"><ion-icon name="camera"></ion-icon></ion-button>
        </ion-item>
        <div *ngIf="this.editarTituloForm.get('URLImagen')?.value"
          style="display: flex; align-items: center;justify-content: center;">
          <img [src]="this.editarTituloForm.get('URLImagen')?.value"
            style="width: auto; height: 200px; margin-top: 10px; object-fit: cover; object-position: center;">
        </div>
        <ion-item class="input-container">
          <ion-label position="stacked">URL del tráiler</ion-label>
          <ion-input class="rounded-input" formControlName="URLTrailer"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('URLTrailer')!.invalid && editarTituloForm.get('URLTrailer')!.touched"
          class="error-message">
          La URL del tráiler es requerida.
        </div>
      </form>
    </div>
    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-no-border">
        <ion-button
          [disabled]="editarTituloForm!.invalid || editarTituloForm!.untouched  || !this.editarTituloForm.get('URLImagen')?.value"
          (click)="modificarTitulo()" expand="full" id="guardar" color="secondary" shape="round">
          <strong>Guardar</strong>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>