<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="container">
    <div>
      <h5><strong>Editar título</strong></h5>
      <form [formGroup]="editarTituloForm">

        <ion-item class="input-container">
          <ion-label position="stacked">Título</ion-label>
          <ion-input class="rounded-input" formControlName="titulo"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('titulo')!.invalid && editarTituloForm.get('titulo')!.touched"
          class="error-message">
          El título es requerido.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Sinopsis</ion-label>
          <ion-textarea class="rounded-input" formControlName="sinopsis"></ion-textarea>
        </ion-item>
        <div *ngIf="editarTituloForm.get('sinopsis')!.invalid && editarTituloForm.get('sinopsis')!.touched"
          class="error-message">
          La sinopsis es requerida.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Fecha de Estreno</ion-label>
          <ion-input class="rounded-input" formControlName="fechaEstreno" type="date"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('fechaEstreno')!.invalid && editarTituloForm.get('fechaEstreno')!.touched"
          class="error-message">
          La fecha de estreno es requerida.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">Duración</ion-label>
          <ion-input class="rounded-input" formControlName="duracion"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('duracion')!.invalid && editarTituloForm.get('duracion')!.touched"
          class="error-message">
          La duración es requerida.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">URL de imagen</ion-label>
          <ion-input class="rounded-input" formControlName="urlImagen"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('urlImagen')!.invalid && editarTituloForm.get('urlImagen')!.touched"
          class="error-message">
          La URL de la imagen es requerida.
        </div>

        <ion-item class="input-container">
          <ion-label position="stacked">URL del tráiler</ion-label>
          <ion-input class="rounded-input" formControlName="urlTrailer"></ion-input>
        </ion-item>
        <div *ngIf="editarTituloForm.get('urlTrailer')!.invalid && editarTituloForm.get('urlTrailer')!.touched"
          class="error-message">
          La URL del tráiler es requerida.
        </div>
      </form>
    </div>
    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-no-border">
        <ion-button [disabled]="editarTituloForm!.invalid" (click)="modificarTitulo()" expand="full" id="guardar"
          color="secondary" shape="round">
          <strong>Guardar</strong>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>