<ion-header>
  <ion-toolbar>
    <ion-title>{{ editMode ? "Modificar Rol" : "Agregar Rol" }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="centered-content">
    <!-- If in edit mode -->
    <div *ngIf="editMode; else viewMode">
      <!-- ID Field (Non-editable) -->
      <ion-item>
        <ion-label>ID:</ion-label>
        <ion-input [value]="rol.idRol" readonly></ion-input>
      </ion-item>

      <!-- Nombre Field (Editable) -->
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="rol.nombre"></ion-input>
      </ion-item>

      <!-- Buttons -->
      <div class="buttons">
        <ion-button color="danger" (click)="cancelEdit()">Cancelar</ion-button>
        <ion-button color="primary" (click)="updateDatabase()">Confirmar</ion-button>
      </div>
    </div>

    <!-- Non-edit Mode -->
    <ng-template #viewMode>
      <!-- Nombre Field -->
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="rol.nombre"></ion-input>
      </ion-item>

      <!-- Buttons -->
      <div class="buttons">
        <ion-button color="danger" (click)="cancelEdit()">Cancelar</ion-button>
        <ion-button color="primary" (click)="saveChanges()">Confirmar</ion-button>
      </div>
    </ng-template>
  </div>
</ion-content>